<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AjouterContact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="ajouterContactForm" (ngSubmit)="nouveauContact()">
    <ion-row style="height: 15px"></ion-row>
    <ion-item class="box">
      <ion-label color="primary">Nom</ion-label>
      <ion-input type="text" formControlName="nom"></ion-input>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-item class="box">
      <ion-label color="primary">Prenom</ion-label>
      <ion-input type="text" formControlName="prenom"></ion-input>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-item class="box">
      <ion-label color="primary">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-item class="box">
      <ion-label color="primary">Tel</ion-label>
      <ion-input type="Tel" formControlName="tel"></ion-input>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-item class="box">
      <ion-label color="primary">Adresse</ion-label>
      <ion-input type="text" formControlName="adresse"></ion-input>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-item class="box">
      <ion-label color="primary">Ville</ion-label>
      <ion-input type="text" formControlName="ville"></ion-input>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-item class="box">
      <ion-label color="primary"> Service</ion-label>
      <ion-select placeholder="Choisir un servicee" formControlName="service">
        <ion-select-option value="coiffeur">coiffeur</ion-select-option>
        <ion-select-option value="fleuriste">fleuriste</ion-select-option>
        <ion-select-option value="maçon">maçon</ion-select-option>
        <ion-select-option value="peintre">peintre</ion-select-option>
        <ion-select-option value="plombier">plombier</ion-select-option>
        <ion-select-option value="tailleur">tailleur</ion-select-option>
        <ion-select-option value="tapissier">tapissier</ion-select-option>
        <ion-select-option value="autre">autre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-button expand="block" color="secondary" type="submit"
      >Envoyer</ion-button
    >
  </form>
</ion-content>
