<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img
    src="assets/logo_ionic.png"
    style="width: 115px; display: block; margin: 0 auto"
  />
  <ion-row style="height: 20px"></ion-row>
  <form [formGroup]="authForm" (ngSubmit)="singIn()" style="margin: 10px">
    <ion-item class="box">
      <ion-label color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-item class="box">
      <ion-label color="primary"> Password</ion-label>
      <ion-input type="Password" formControlName="password"></ion-input>
    </ion-item>
    <ion-row style="height: 15px"></ion-row>
    <ion-button expand="block" color="secondary" type="submit"
      >SingIn</ion-button
    >
  </form>
  <ion-button
    expand="block"
    fill="outline"
    (click)="singUp()"
    style="margin: 10px"
    >SingUp</ion-button
  >
</ion-content>
